<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.cleanwk.alfred-chrome-bookmarks</string>
	<key>category</key>
	<string>Productivity</string>
	<key>createdby</key>
	<string>cleanwk</string>
	<key>description</key>
	<string>Search Chromium bookmarks with folder filters (fast FTS index).</string>
	<key>name</key>
	<string>Chromium Bookmarks (Fast)</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>cb</string>
				<key>queuedelaycustom</key>
				<real>0.1</real>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching bookmarks…</string>
				<key>script</key>
				<string>./run.sh search "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Type to search bookmarks (folder-aware)</string>
				<key>title</key>
				<string>Chromium Bookmarks</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A0E2E77A-7F6C-48C4-9718-15F936784705</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>cbf</string>
				<key>queuedelaycustom</key>
				<real>0.1</real>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fuzzy searching bookmarks…</string>
				<key>script</key>
				<string>./run.sh search --fuzzy "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Fuzzy search (slower)</string>
				<key>title</key>
				<string>Chromium Bookmarks (Fuzzy)</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BCE3560C-E38F-43D6-A4E2-8A788F7898EC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>56813BB9-34AD-48C8-837F-706FC98B152F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>connections</key>
	<dict>
		<key>A0E2E77A-7F6C-48C4-9718-15F936784705</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56813BB9-34AD-48C8-837F-706FC98B152F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCE3560C-E38F-43D6-A4E2-8A788F7898EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56813BB9-34AD-48C8-837F-706FC98B152F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>uidata</key>
	<dict>
		<key>A0E2E77A-7F6C-48C4-9718-15F936784705</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>BCE3560C-E38F-43D6-A4E2-8A788F7898EC</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>56813BB9-34AD-48C8-837F-706FC98B152F</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/cleanwk/alfred-pinboard-rs</string>
</dict>
</plist>
